# Managed by Ansible. Local private keys are generated on the target host.
# OSPF owns end-to-end service routing; wg-quick route injection is disabled.
[Interface]
Address = {{ item.local_address }}
ListenPort = {{ item.local_listen_port }}
Table = {{ wireguard_table_mode }}
PostUp = /usr/bin/wg set %i private-key {{ wireguard_key_directory }}/{{ item.name }}.private

[Peer]
PublicKey = {{ hostvars[item.peer_host].wireguard_public_keys[item.name] }}
Endpoint = {{ item.peer_endpoint_address }}:{{ item.peer_endpoint_port }}
AllowedIPs = {{ ([item.peer_allowed_ip, item.peer_service_allowed_ip] + wireguard_ospf_multicast_allowed_ips) | join(', ') }}
PersistentKeepalive = {{ wireguard_persistent_keepalive }}
